

.fa {
    background-color: #ea574c;
    color: whitesmoke;
    padding: 10px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 15px;
    border-radius: 50%;
}

.fa:hover {
    transform: scale(1.2);
}

.fa-dribbble {
    position: relative;
    right: 50px;
    bottom: 270px;
}

.fa-github {
    position: relative;
    right: 50px;
    bottom: 200px;
}

.fa-linkedin {
    position: relative;
    right: 50px;
    bottom: 130px;
}

.fa-instagram {
    position: relative;
    right: 50px;
    bottom: 60px;
}